.imageContainer {
  width: 600px;
  height: 400px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #000;
}

.singleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.multiImageContainer {
  display: grid;
  gap: 2px;
}

.multiImageContainer[data-count="2"] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.multiImageContainer[data-count="3"] {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.multiImageContainer[data-count="4"] {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.multiImage {
  object-fit: cover;
  flex: 1;
}

.multiImageContainer[data-count="4"] .multiImage,
.multiImageContainer[data-count="3"] .multiImage {
  width: 100%;
  height: 199px;
}

.multiImageContainer[data-count="2"] .multiImage {
  width: 100%;
  height: 200px;
}

.multiImageContainer[data-count="3"] .multiImage:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.multiImageContainer[data-count="3"] .multiImage:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.multiImageContainer[data-count="3"] .multiImage:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

