.launchButton {
  background-color: rgba(255, 255, 255, 0.1);
  color: #EEE4B1;
  border: none;
  border-radius: 0.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: 120px;
  height: 50px;
  transition: all 0.2s;
  flex-shrink: 1;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.launchIcon {
  width: 16px;
  height: 16px;
}

.launchText {
  font-size: 14px;
  font-weight: 600;
}